teach{
	color: white;
	background-color : red;
	width: 100%;
	text-align:center;
}
heading {
	color: blue;
	font-size : 40px;
	background-color : cyan;
	text-align:center;	
}
heading, id_no,name,subject,college{
	color:black;
	display:block;
}
name {
	display:block;
     	font-weight:bolder;
      	text-align:center;
      	font-size:30px;
      	background-color: yellow;
      	color: black;
}
